<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <!-- href="{{ url_for('static', filename='style.css') }}" -->
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script src="../static/script.js"></script>
    <title>Database Final Project Team14</title>
  </head>
  <body>
    <script>
      window.onload = function () {
        getBike();
      };
    </script>

    <select id="mySelectList"></select>

    <br />
    <button onclick="restBike()">查詢剩餘車位</button>
    <p id="rest"></p>
  </body>
</html>
