<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../static/src/icon.jpg" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>公共運輸資訊整合系統-我的最愛</title>
  </head>
  <body>
    <script>
      window.onload = function () {
        getLikeBike();
      };
    </script>
    <h2>我的最愛</h2>
    <nav>
      <ul>
        <li>
          <a class="active" href="{{ url_for('index') }}"
            ><img class="pic main" src="../static/src/main.png" /> 首頁</a
          >
        </li>
        <li>
          <a href="{{ url_for('bus') }}"
            ><img class="pic bus" src="../static/src/公車.png" /> 公車時刻表</a
          >
        </li>
        <li>
          <a href="{{ url_for('train') }}"
            ><img class="pic train" src="../static/src/火車.jfif" />
            火車時刻表</a
          >
        </li>
        <li>
          <a href="{{ url_for('bike') }}"
            ><img class="pic bike" src="../static/src/自行車.jpeg" />
            自行車租借</a
          >
        </li>
        <li>
          <a href="{{ url_for('like') }}"
            ><img class="pic contact" src="../static/src/like.jpg" />
            我的最愛</a
          >
        </li>
      </ul>
    </nav>

    <div style="display: flex; margin-top: 10%">
      <div id="like-bike-container" class="left-container">
        <table>
          <thead>
            <tr>
              <th colspan="5">我的最愛腳踏車</th>
            </tr>
            <tr>
              <th>站點</th>
              <th>地址</th>
              <th>備註</th>
              <th>刪除</th>
              <th>更新</th>
            </tr>
          </thead>
          <tbody id="like-bike-table"></tbody>
        </table>
      </div>

      <div id="like-train-container" class="right-container">
        <table>
          <thead>
            <tr>
              <th colspan="7">我的最愛火車</th>
            </tr>
            <tr>
              <th>車次</th>
              <th>起點</th>
              <th>訖點</th>
              <th>出發時間</th>
              <th>抵達時間</th>
              <th>行駛時間</th>
              <th>刪除</th>
            </tr>
          </thead>
          <tbody id="like-train-table"></tbody>
        </table>
      </div>
    </div>
    <div id="like-bus-container" class="bottom-container" style="display: flex">
      <div>
        <p>我的最愛公車</p>
        <select id="like-bus-select" onchange="showLikeBus()">
          <option value="0">路線</option>
        </select>
        <button onclick="deleteBus()">Delete</button>
      </div>
      <div style="display: flex; justify-content: center">
        <iframe
          id="bus-iframe"
          src=""
          width="80%"
          height="80%"
          style="display: none; position: absolute"
        ></iframe>
      </div>
    </div>
  </body>
</html>
